{% extends 'base.html' %}

{% block title %}{{ category.title }}{% endblock %}
{% block title_h2 %}{{ category.title }}{% endblock %}
{% block sidebar %}{{ block.super }}{% endblock %}

{% block content %}
{% for item in news %}
<div class="card mb-3">
    <div class="card-header">
        <!--{{ item.category.title }}-->
        {% if item.category %}
        Категория: <a href="{% url 'category' item.category.pk %}">{{ item.category }}</a>
        {% else %}
        без категории
        {% endif %}
        <!--                    Категория: {{ item.category | default_if_none:'без категории' }}-->
    </div>
    <div>
        <div class="card-body">
            <div class="media">
                {% if item.photo %}
                <img src="{{ item.photo.url }}" alt="--" width="200px" height="150px" class="rounded float-left mr-3">
                {% else %}

                {% endif %}
            </div>
            <div class="media-body">
                <h5 class="card-title">{{ item.title }}</h5>
                <p class="card-text">{{ item.content | linebreaksbr | truncatewords:50 }}</p>
                <a href="{{ item.get_absolute_url }}" class="btn btn-primary">Читать далее</a>
                <p class="card-text"><small class="text-muted">{{ item.created_at | date:"Y-m-d H:i" }}</small></p>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}
