{% extends 'base.html' %}

{% block title %}{{ news_item.title }}{% endblock %}
{% block title_h2 %}{% endblock %}
{% block sidebar %}{{ block.super }}{% endblock %}

{% block content %}
<div class="card mb-3">
    <div class="card-header">
        <!--{{ item.category.title }}-->
        {% if news_item.category %}
<!--        Можно ссылки сформировать через тег url или метод get_absolute_url-->
        {% comment %}{% url 'category' item.category.pk %}{% endcomment %}
        Категория: <a href="{{ news_item.category.get_absolute_url }}">{{ news_item.category }}</a>
        {% else %}
        без категории
        {% endif %}
        <!--                    Категория: {{ item.category | default_if_none:'без категории' }}-->
    </div>
    <div>
        <div class="card-body">
            <div class="media">
                {% if news_item.photo %}
                <img src="{{ news_item.photo.url }}" alt="--" width="200px" height="150px" class="rounded float-left mr-3">
                {% else %}

                {% endif %}
            </div>
            <div class="media-body">
                <h5 class="card-title">{{ news_item.title }}</h5>
                <p class="card-text">{{ news_item.content | linebreaksbr}}</p>
                <p class="card-text"><small class="text-muted">{{ news_item.created_at | date:"Y-m-d H:i" }}</small></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
