<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Новости{% endblock %} | Test_S</title>
    {% load static %}
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>
<body>

{% include 'inc/_nav.html' %}

<div class="container mt-3">
    <h1>{% block title_h2 %}{{ title }}: {% endblock %}</h1>
    <div class="row">
        <div class="col-md-2">
            {% block sidebar %}
            {% include 'inc/_sidebar.html' %}
            {% endblock %}
        </div>
        <div class="col-md-10">
            {% block content %}
            {% for item in news %}
            <div class="card mb-3">
                <div class="card-header">
                    {% comment %}{{ item.category.title }}{% endcomment %}
                    {% if item.category %}
                    Категория: <a href="{% url 'category' item.category.pk %}">{{ item.category }}</a>
                    {% else %}
                    без категории
                    {% endif %}
                    <!--                    Категория: {{ item.category | default_if_none:'без категории' }}-->
                </div>
                <div>
                    <div class="card-body">
                        <div class="media">
                            {% if item.photo %}
                            <img src="{{ item.photo.url }}" alt="--" width="200px" height="150px" class="rounded float-left mr-3">
                            {% else %}

                            {% endif %}
                        </div>
                        <div class="media-body">
                            <h5 class="card-title">{{ item.title }}</h5>
                            <p class="card-text">{{ item.content | linebreaksbr | truncatewords:50 }}</p>
                            <a href="/" class="btn btn-primary">Читать далее</a>
                            <p class="card-text"><small class="text-muted">{{ item.created_at | date:"Y-m-d H:i" }}</small></p>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% endblock %}
        </div>
    </div>
</div>

<script src="{% static 'bootstrap/js/bootstrap.min.js' %}" ></script>

</body>
</html>
